<br>
<div class="container">
  <div class="well col-md-6" id="disclaimer">
    <h4 class="text-center">Disclaimer:</h4>
    <div class="text-center">
      <p>When calculating your total waste, this app does not factor in games received as gifts, multi-game bundles, or games purchased on sale.</p>
    </div>
  </div>
  <h1 class="text-center">Waste<span id="placeholder"> Calculating... </span></h1>
  <h1 class="text-center"><span id="waste"></span></h1>
  <h2 class="text-center">Unplayed Games - <%= @unplayed_ids.count %></h2>
  <br>
  <table class="table table-condensed" id="games">
      <tr>
        <th></th>
        <th><p>Game</p></th>
        <th><p>Cost</p></th>
        <th><p>Genre</p></th>
        <th><p>Metacritic</p></th>
      </tr>
  </table>
</div>

<script type="text/x-handlebars-template" id="gameTemplate">
  <tr>
    <td><img src="{{image}}" width="300" height="100" /></td>
    <td><p>{{name}}</p></td>
    <td><p>{{cost}}</p></td>
    <td><p>{{genre}}</p></td>
    <td><p><a href="{{critic}}">{{score}}</a></p></td>
  </tr>
</script>

<script>
  getDataForGames(<%= @unplayed_ids %>)
</script>
