---
http_interactions:
- request:
    method: get
    uri: https://store.steampowered.com/api/appdetails/?appids=1500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"1500":{"success":true,"data":{"type":"game","name":"Darwinia","steam_appid":1500,"required_age":0,"is_free":false,"detailed_description":"Combining
        fast-paced action with strategic battle planning, Darwinia features a novel
        and intuitive control mechanism, a graphical style ripped from 80''s retro
        classics like Tron and Defender, and a story concerning a tribe of nomadic
        sprites trapped in a modern 3D world.","about_the_game":"Combining fast-paced
        action with strategic battle planning, Darwinia features a novel and intuitive
        control mechanism, a graphical style ripped from 80''s retro classics like
        Tron and Defender, and a story concerning a tribe of nomadic sprites trapped
        in a modern 3D world.","supported_languages":"English, German","header_image":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/header.jpg?t=1447350833","website":"http:\/\/www.darwinia.co.uk\/","pc_requirements":{"minimum":"<p><strong>Recommended:<\/strong>
        Windows XP, 600MHz CPU, 128MB RAM, DX7 based video card<\/p>"},"mac_requirements":{"minimum":"<ul>\n\t<li><strong>OS:<\/strong>
        OS X version Leopard 10.5.8, Snow Leopard 10.6.3, or later.\n\t<li><strong>Processor:<\/strong>
        Intel Core Duo 1.66GHz+\n\t<li><strong>Memory:<\/strong> 1GB of RAM\n\t<li><strong>Graphics:<\/strong>
        64MB of video memory\n\t<li><strong>Hard Drive:<\/strong> \n<\/ul>"},"linux_requirements":{"minimum":"<ul>\n                <li><strong>Processor:
        1.66Ghz<\/strong> \n                <li><strong>Memory: 1Gb<\/strong> \n                <li><strong>Graphics:
        64Mb of memory<\/strong> \n                <li><strong>Hard Drive: 60Mb<\/strong>
        \n<\/ul>\n"},"developers":["Introversion Software"],"publishers":["Introversion
        Software"],"demos":[{"appid":1502,"description":""}],"price_overview":{"currency":"USD","initial":999,"final":999,"discount_percent":0},"packages":[54,14324,978,14002],"package_groups":[{"name":"default","title":"Buy
        Darwinia","description":"","selection_text":"Select a purchase option","save_text":"","display_type":0,"is_recurring_subscription":"false","subs":[{"packageid":54,"percent_savings_text":"","percent_savings":0,"option_text":"Darwinia
        - $9.99","option_description":"","can_get_free_license":"0","is_free_license":false,"price_in_cents_with_discount":999},{"packageid":14324,"percent_savings_text":"","percent_savings":0,"option_text":"Darwinia
        + Soundtrack DLC - $12.99","option_description":"","can_get_free_license":"0","is_free_license":false,"price_in_cents_with_discount":1299},{"packageid":978,"percent_savings_text":"","percent_savings":0,"option_text":"Multiwinia
        + Darwinia - $14.99","option_description":"","can_get_free_license":"0","is_free_license":false,"price_in_cents_with_discount":1499},{"packageid":14002,"percent_savings_text":"","percent_savings":0,"option_text":"Introversion
        Complete Pack - $19.99","option_description":"","can_get_free_license":"0","is_free_license":false,"price_in_cents_with_discount":1999}]}],"platforms":{"windows":true,"mac":true,"linux":true},"metacritic":{"score":84,"url":"http:\/\/www.metacritic.com\/game\/pc\/darwinia"},"categories":[{"id":2,"description":"Single-player"}],"genres":[{"id":"23","description":"Indie"},{"id":"2","description":"Strategy"}],"screenshots":[{"id":0,"path_thumbnail":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000227.600x338.jpg?t=1447350833","path_full":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000227.1920x1080.jpg?t=1447350833"},{"id":1,"path_thumbnail":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000228.600x338.jpg?t=1447350833","path_full":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000228.1920x1080.jpg?t=1447350833"},{"id":2,"path_thumbnail":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000229.600x338.jpg?t=1447350833","path_full":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000229.1920x1080.jpg?t=1447350833"},{"id":3,"path_thumbnail":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000230.600x338.jpg?t=1447350833","path_full":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000230.1920x1080.jpg?t=1447350833"},{"id":4,"path_thumbnail":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000231.600x338.jpg?t=1447350833","path_full":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/0000000231.1920x1080.jpg?t=1447350833"}],"movies":[{"id":5803,"name":"Darwinia
        trailer","thumbnail":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/5803\/movie.293x165.jpg?t=1447353298","webm":{"480":"http:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/5803\/movie480.webm?t=1447353298","max":"http:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/5803\/movie_max.webm?t=1447353298"},"highlight":true}],"recommendations":{"total":404},"release_date":{"coming_soon":false,"date":"Jul
        14, 2005"},"support_info":{"url":"","email":""},"background":"https:\/\/steamcdn-a.akamaihd.net\/steam\/apps\/1500\/page_bg_generated_v6b.jpg?t=1447350833"}}}'
  recorded_at: Thu, 21 Jan 2016 06:43:28 GMT
recorded_with: VCR 3.0.1
