<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-6 column">
        <h4>Follow</h4>
        <ul class="list-inline">
          <li><a href="https://github.com/Kealii"><i class="icon-lg ion-social-github-outline"></i></a></li>
          <li><a href="https://www.facebook.com/michael.brian.wong" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a></li>
          <li><a href="https://twitter.com/kealii15" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3 column">
        <h4>Stay Posted</h4>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
          </div>
        </form>
      </div>
    </div>
    <br/>
  </div>
</footer>