<div class="navbar-collapse collapse" id="bs-navbar">
  <ul class="nav navbar-nav">
    <li>
      <a class="page-scroll" href="#one">Why?</a>
    </li>
    <li>
      <a class="page-scroll" href="#two">Key Features</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to 'Login', login_path %>
    </li>
    <li>
      <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
    </li>
  </ul>
</div>