<ul class="nav navbar-nav">
  <li>
    <a href='/waste_analysis'>Analyze</a>
  </li>
  <li>
    <a href="/results">Results</a>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to 'Logout', logout_path %>
  </li>
  <li>
    <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
  </li>
</ul>