<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/"><i class="ion-pie-graph"></i> Wasted Steam </a>
    </div>
    <div class="navbar-collapse collapse" id="bs-navbar">
      <% if current_user %>
        <%= render 'layouts/logged_in_navbar' %>
      <% else %>
        <%= render 'layouts/guest_navbar' %>
      <% end %>
    </div>
  </div>
</nav>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="text-center">Wasting Steam</h2>
        <h5 class="text-center">
          Developed by <a href="https://github.com/Kealii">Michael Wong</a>
          <br>
          Designed by <a href="http://www.bootstrapzero.com/">Bootstrap Zero</a>
        </h5>
        <p class="text-justify">
          This app was developed as a project for the <a href="https://www.turing.io">Turing School of Software and Design</a> to test my ability to implement an
          OAuth system and then consume an API. Once a user logs in with their <a href="https://twitter.com/">Twitter</a> account, they will be prompted to enter
          their Steam ID or Nickname. The app will use this ID to create a collection of the users' games that have been played for less than 5
          minutes and then calculate the total cost of all of those games.
        </p>
        <br/>
        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> Dismiss </button>
      </div>
    </div>
  </div>
</div>